<launch>
  <node pkg="collision_map" type="collision_map_self_occ_node" name="collision_map_self_occ_node" respawn="true" output="screen">
    <rosparam command="load" file="$(find katana_arm_navigation)/perception/config/self_filter.yaml" />

    <!-- if someone asks for a stable map, publish the static map on the dynamic
         map topic and no longer publish dynamic maps -->
    <param name="publish_static_over_dynamic_map" type="bool" value="true" />

    <!-- we do not want a separate map with occlusions alone -->
    <param name="publish_occlusion" type="bool" value="true" />

    <!-- TODO: use map frame here -->
    <param name="fixed_frame" type="string" value="/katana_base_link" />

    <!-- Define a clipping box for the collision map; the operating range of the Katana
         is [-0.12, 0.68] in the z direction and [-0.48, 0.48] in both x and y direction.
         Let's be a little generous and define a box of size 1.20x1.20x1.00 around
         (0,0,0.28) -->
    <param name="robot_frame" type="string" value="/katana_base_link" />

    <param name="origin_x" type="double" value="0.0" />
    <param name="origin_y" type="double" value="0.0" />
    <param name="origin_z" type="double" value="0.28" />
    
    <param name="dimension_x" type="double" value="0.6" />
    <param name="dimension_y" type="double" value="0.6" />
    <param name="dimension_z" type="double" value="0.5" />

    <!-- set the resolution -->
    <param name="resolution" type="double" value="0.005" />

    <!-- minimum number of points for a box to be considered occupied (default: 1) -->
    <!-- <param name="min_nr_points" type="int" value="5" /> -->
    
    <!-- cloud sources -->
    <rosparam command="load" file="$(find katana_arm_navigation)/perception/config/collision_map_sources.yaml" />	
  </node>
  
</launch>
