<?xml version="1.0"?>
<!-- launch file to debug the kurtana urdf description -->

<launch>
  <!-- load katana urdf -->
  <include file="$(find kurt_description)/launch/upload_kurtana.launch" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

  <!-- joint state publisher with gui -->
  <param name="use_gui" value="true" />
 
  <rosparam command="load" file="$(find katana_description)/params/dependent_joints.yaml" />
  
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kurtana_description)/rviz/kurtana_description.vcg" />
</launch>

