<?xml version="1.0"?>
<launch>

<!-- for DEBUG purposes here only the BB finder is called, all other components originally belonging to this launchfile can be found in
     katana_tabletop_manipulation_launch/object_manipulator.launch and are launched from there because it allows changes to the hand description and the
     grasp planners without interfering with the perception and arm navigation elements.
     as soon as the manipulation is stable they will be transfered back into this file.
-->

<!-- cluster bounding box finder-->
 <node name="cluster_bounding_box_finder" pkg="object_manipulator"
    type="cluster_bounding_box_finder_server.py" output="screen" respawn="false" >
	<param name="z_up_frame" value="/katana_base_link" />
  </node>

</launch>
