<?xml version="1.0"?>
<!-- see http://www.ros.org/wiki/move_arm/Tutorials/GettingStarted -->
<launch>

  <!-- Kurtana specific -->

  <!-- launch kurtana robot -->
  <include file="$(find kurtana)/launch/kurtana.launch" />

  <!-- kinect perception, planning environment -->
  <include file="$(find kurtana_arm_navigation)/perception/launch/kinect-perception.launch"/>

  <!-- Katana originals -->

  <!-- motion planning -->
  <include file="$(find katana_arm_navigation)/planning/launch/ompl_planning.launch"/>

  <!-- trajectory filtering (spline smoother) -->
  <include file="$(find katana_arm_navigation)/filtering/launch/trajectory_filter.launch"/>

  <!-- inverse kinematics -->
  <!-- <include file="$(find katana_arm_navigation)/kinematics/launch/urdf_arm_kinematics.launch"/> -->
  <!-- <include file="$(find katana_arm_navigation)/kinematics/launch/katana_arm_kinematics.launch"/> -->
  <!-- <include file="$(find katana_arm_navigation)/kinematics/launch/katana_openrave_kinematics.launch"/> -->
       <include file="$(find katana_openrave_kinematics)/launch/katana_constraint_aware_kinematics.launch"/>
  <!-- <include file="$(find katana_openrave_kinematics)/launch/katana_kdl_constraint_aware_kinematics.launch"/> -->

  <!-- load planning_environment -->
  <include file="$(find katana_arm_navigation)/actions/launch/environment_server.launch"/>

  <!-- load move_arm -->
  <include file="$(find katana_arm_navigation)/actions/launch/move_arm.launch"/>
</launch>
