<?xml version="1.0"?>
<launch> 
  <!-- fake transforms necessary for operation without a mobile Kurt base? -->
  <node pkg="tf" type="static_transform_publisher" name="odom_combined_to_base_link"
    args="1.0 0.0 0.0 0.0 0.0 0.0 /odom_combined /base_link 10" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_katana_internal_controlbox_link"
    args="1.0 0.0 0.0 0.0 0.0 0.0 /base_link /katana_internal_controlbox_link 10" />

</launch>
