<?xml version="1.0"?>
<launch>
  <!-- push object_description to factory and spawn in gazebo -->
  <node name="spawn_cokecan1" pkg="gazebo" type="spawn_model" args="-urdf -file
    $(find katana_arm_gazebo)/urdf/coke_can.urdf -model cokecan_1 -wait
    'table_1' -x 0.35 -z 0.35 -y -0.20" respawn="false" output="screen" />
</launch>

