<?xml version="1.0"?>
<!-- see http://www.ros.org/wiki/move_arm/Tutorials/GettingStarted -->
<launch>
  <!-- start katana node -->
  <include file="$(find katana)/launch/katana.launch" />
  
  <!-- start katana arm_kinematics node -->
  <include file="$(find katana_arm_navigation)/kinematics/launch/katana_openrave_kinematics.launch" /> 
  
  <!-- start katana arm_kinematics node -->
  <include file="$(find katana_arm_navigation)/kinematics/launch/katana_arm_kinematics.launch" /> 
  
  <node pkg="joy" type="joy_node" name="joy_node">
  	<param name="autorepeat_rate" value="10"/>
  </node>

  <!-- start cyborgevo teleop node here -->
  <node pkg="katana_teleop" type="katana_teleop_cyborgevo" name="katana_teleop_cyborgevo" output="screen"/>

 
</launch>
