<launch>
  <!-- load katana urdf -->
  <include file="$(find katana_description)/launch/upload_katana.launch" />

  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

  <!-- katana node -->
  <node pkg="katana" type="katana" name="katana" output="screen">
    <param name="simulation" value="false" />
    <rosparam command="load" file="$(find katana)/config/katana_arm_controllers.yaml" />
  </node>
</launch>

