<!-- see http://www.ros.org/wiki/move_arm/Tutorials/GettingStarted -->
<launch>
  <!-- start katana node -->
  <include file="$(find katana_description)/launch/katana.launch" />

  <!-- motion planning -->
  <include file="$(find katana_arm_navigation_planning)/launch/ompl_planning.launch"/>

  <!-- laser perception, planning environment -->
  <!-- TODO: use the rotunit or something here, this needs to be adjusted -->
  <include file="$(find katana_arm_navigation_perception)/launch/laser-perception.launch"/>

  <!-- trajectory filtering (spline smoother) -->
  <include file="$(find katana_arm_navigation_filtering)/launch/trajectory_filter.launch"/>

  <!-- inverse kinematics -->
  <!-- TODO: implement get_constraint_aware_ik -->
  <include file="$(find katana_arm_navigation_kinematics)/launch/urdf_arm_kinematics.launch"/>

  <!-- load planning_environment -->
  <include file="$(find katana_arm_navigation_actions)/launch/environment_server.launch"/>

  <!-- load move_arm -->
  <!-- TODO: change remapping of get_constraint_aware_ik here: -->
  <include file="$(find katana_arm_navigation_actions)/launch/move_arm.launch"/>
</launch>
