<!-- see http://www.ros.org/wiki/move_arm/Tutorials/GettingStarted -->
<launch>
  <!-- send katana urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find katana_description)/urdf/katana.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

  <rosparam command="load" file="$(find katana_description)/params/katana_arm_controllers.yaml" />

  <!-- motion planning -->
  <include file="$(find katana_arm_navigation_planning)/launch/ompl_planning.launch"/>

  <!-- laser perception, planning environment -->
  <!-- TODO: use the rotunit or something here, this needs to be adjusted -->
  <include file="$(find katana_arm_navigation_perception)/launch/laser-perception.launch"/>

  <!-- trajectory filtering (spline smoother) -->
  <include file="$(find katana_arm_navigation_filtering)/launch/trajectory_filter.launch"/>

  <!-- inverse kinematics -->
  <!-- TODO -->
  <include file="$(find pr2_arm_navigation_kinematics)/launch/right_arm_collision_free_ik.launch"/>

  <!-- load planning_environment -->
  <include file="$(find katana_arm_navigation_actions)/launch/environment_server.launch"/>

  <!-- load move_arm -->
  <!-- TODO: fix some stuff here -->
  <include file="$(find katana_arm_navigation_actions)/launch/move_arm.launch"/>
</launch>
